/* IMPORT FONTS */
/* body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* headers */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");

/* ALL SECTIONS */
.header,
.main-body {
  padding-left: 70px;
  padding-right: 70px;
}

a {
  text-decoration: none;
  color: hsl(193, 100%, 96%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: hsl(192, 100%, 9%);
  font-weight: 400;
  width: 100%;
}

.h1,
.h2,
.h3 {
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  font-weight: 700;
}

.text button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 700;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}

.text {
  width: 100%;
  padding-right: 50px;
  padding-top: 50px;
}

.text {
  animation-direction: alternate;
  animation: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /* animation-timing-function: linear; */
}


@keyframes move {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(30px);
  }
}

.box4 button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 700;
  height: 50px;
  width: 250px;
}

.text button:active,
.box4 button:active {
  background-color: hsl(322, 95%, 76%);
}

.box4 button {
  animation-name: grow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }

  20% {
    transform: scaleX(0.8);
    background: hsl(322,
        100%,
        66%);
  }
}

.box4 button:hover {
  animation-play-state: paused;
}

.main-main img,
.hero img,
.div-footer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* NAV SECTION */
.header {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 20px;
  width: 120px;
}

.nav {
  padding-top: 50px;
}

.nav button {
  /* float: right; */
  background-color: white;
  color: black;
  font-weight: 700;
  height: 40px;
  width: 150px;
  position: absolute;
  right: 70px;
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.nav {
  display: flex;
}

/* HERO SECTION */

.hero {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}

.hero.text {
  float: left;
  margin-top: 50%;
  display: block;
  /* padding: 50px; */
}

.hero img {
  float: right;
  height: 450px;
  width: 650px;
}

/* MAIN-BODY SECTION */
.main-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
}

.box1,
.box2,
.box3 {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 50px;
  padding: 70px;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box4 {
  width: 60%;
  margin: auto;
  display: block;
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 20px;
  text-align: center;
  -ms-transform: translateY(40%);
  transform: translateY(40%);
}

._body {
  /* float: left; */
  width: 70%;
}

._img {
  /* float: right; */
  height: 300px;
  width: 800px;
}

.box2 {
  flex-direction: row-reverse;
}

/* FOOTER */
footer {
  background-color: hsl(192, 100%, 9%);
  height: 60vh;
  width: 100%;
  color: hsl(193, 100%, 96%);
  font-size: 16px;
}

.div-footer {
  display: flex;
  gap: 30px;
  padding-top: 150px;
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
}

/* resize and convert logo to black n white */
.logo-big {
  height: 30px;
  width: 150px;
  -webkit-filter: grayscale(200%) contrast(60%) saturate(300%) brightness(5);
  filter: grayscale(200%) contrast(60%) saturate(300%) brightness(5);
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.col2,
.col3,
.col4 {
  width: 20%;
  padding: 20px;
  padding-top: 45px;
  padding-left: 40px;
}

.col4 small {
  position: absolute;
  font-size: 8px;
  padding-top: 150px;
}

span img {
  padding-right: 20px;
}

span i {
  padding: 5px;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 900px) {

  .header,
  head-section,
  .div-footer {
    padding-left: 10%;
    padding-right: 10px;
    overflow-x: hidden;
  }

  body {
    /* font-size: smaller; */
    text-align: center;
    place-items: center;
    width: 100%;
    justify-content: center;
    font-size: smaller;
    overflow-x: hidden;
  }

  head-section {
    background: url(./images/bg-hero-mobile.svg);
    width: 100%;
    place-content: center;
  }

  .header {
    flex-direction: column;
  }

  .text {
    width: 80%;
    margin: auto;
    display: block;
    padding-top: 50px;
  }

  .hero {
    flex-direction: column;
  }

  .nav button {
    background-color: white;
    color: black;
    font-weight: 700;
    height: 35px;
    width: 120px;
    position: absolute;
    right: 40px;
  }

  .main-main {
    flex-direction: column;
    gap: 10px;
  }

  .div-footer {
    flex-direction: column;
    padding-left: 30%;
  }

  .col1 {
    flex-direction: row;
  }

  .box1,
  .box2,
  .box3 {
    flex-direction: column-reverse;
    place-items: center;
    width: 80%;
    margin: 20px;
    display: flex;
    gap: 10px;
    padding: 40px;
    padding-top: 40px;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .main-main {
    align-items: center;
  }

  .main-main img,
  .hero img,
  .div-footer img,
  .logo-big {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  ._img {
    height: 180px;
    width: 220px;
  }

  ._body {
    width: 80%;
    text-align: center;
    display: inline-flexbox;
    padding-left: 0%;
    padding-right: 0%;
  }


  .box4 {
    width: 80%;
    font-size: smaller;
    margin: auto;
    display: block;
    position: relative;
    margin-left: inherit;
    margin-right: inherit;
  }

  .box4 button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 700;
    height: 50px;
    width: 200px;
  }


  .nav {
    flex-direction: row;
  }

  footer {
    height: 100vh;
  }

  .div-footer {
    gap: 0px;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    flex-direction: column;
  }

  .footer-logo img {
    height: 30px;
    width: 130px;
  }

  .col2,
  .col3,
  .col4 {
    margin: auto;
    display: inline-flex;
    width: 100%;
    place-content: left;
  }

  .col1,
  .col2,
  .col3,
  .col4 {
    padding: 5px;
    padding-left: 0px;
    display: inline;
  }

  .col4 {
    text-align: center;
  }

  .col4 small {
    padding-top: 10px;
    position: relative;
  }

  span img {
    padding-right: 10px;
    padding: none;
  }
}